In [22]:
import pandas as pd
import pickle
import numpy as np
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from numba import jit

In [23]:
@jit
def eval_gini(y_true, y_prob):
    y_true = np.asarray(y_true)
    y_true = y_true[np.argsort(y_prob)]
    ntrue = 0
    gini = 0
    delta = 0
    n = len(y_true)
    for i in range(n-1, -1, -1):
        y_i = y_true[i]
        ntrue += y_i
        gini += y_i * delta
        delta += 1 - y_i
    gini = 1 - 2 * gini / (ntrue * (n - ntrue))
    return gini

In [72]:
test = pd.read_pickle("./pickled/test.pkl")

In [19]:
train = pd.read_pickle("./pickled/train.pkl")
test = pd.read_pickle("./pickled/test.pkl")

In [20]:
train.head(5)

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,evening_time,night_time,start_session,day_of_week,month,year,yearmonth,session_duration,sites_popularity_coeff,is_short
session_id,,,,,,,,,,,,,,,,,,,,,
21669,safebrowsing.clients.google.com,2013-01-12 08:05:57,safebrowsing-cache.google.com,2013-01-12 08:05:57,empty,NaT,empty,NaT,empty,NaT,...,0,0,8,5,1,2013,201301,0.000000,2.948007,1
54843,safebrowsing.clients.google.com,2013-01-12 08:37:23,safebrowsing-cache.google.com,2013-01-12 08:37:23,safebrowsing.clients.google.com,2013-01-12 09:07:07,safebrowsing-cache.google.com,2013-01-12 09:07:09,empty,NaT,...,0,0,8,5,1,2013,201301,7.488294,2.948007,1
77292,www.apache.org,2013-01-12 08:50:13,www.apache.org,2013-01-12 08:50:14,download.eclipse.org,2013-01-12 08:50:15,www.apache.org,2013-01-12 08:50:15,www.apache.org,2013-01-12 08:50:16,...,0,0,8,5,1,2013,201301,1.609438,0.016490,0
114021,www.webtide.com,2013-01-12 08:50:17,download.oracle.com,2013-01-12 08:50:17,www.caucho.com,2013-01-12 08:50:18,download.oracle.com,2013-01-12 08:50:18,www.webtide.com,2013-01-12 08:50:18,...,0,0,8,5,1,2013,201301,1.386294,0.016490,0
146670,public.dhe.ibm.com,2013-01-12 08:50:20,jope.ow2.org,2013-01-12 08:50:20,download.oracle.com,2013-01-12 08:50:20,public.dhe.ibm.com,2013-01-12 08:50:21,jope.ow2.org,2013-01-12 08:50:21,...,0,0,8,5,1,2013,201301,1.098612,0.008101,0

In [29]:
with open("./data/site.pkl", "rb") as fd:
    sites_mapping = pickle.load(fd)

for site in [f"site{i}" for i in range(1, 11)]:
    train[site] = train[site].map(sites_mapping)

In [36]:
train[[f"site{i}" for i in range(1, 11)]] = train[[f"site{i}" for i in range(1, 11)]].fillna(0).astype('int')

In [41]:
train = train.drop([f"time{i}" for i in range(1, 11)], axis=1)

In [46]:
train["session_duration"] = train["session_duration"].astype(np.int64)
train["sites_popularity_coeff"] = train["sites_popularity_coeff"].astype(np.int64)

In [57]:
train.head(5)

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10,...,evening_time,night_time,start_session,day_of_week,month,year,yearmonth,session_duration,sites_popularity_coeff,is_short
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0,...,0,0,8,5,1,2013,201301,0,2,1
54843,56,55,56,55,0,0,0,0,0,0,...,0,0,8,5,1,2013,201301,7,2,1
77292,946,946,951,946,946,945,948,784,949,946,...,0,0,8,5,1,2013,201301,1,0,0
114021,945,948,949,948,945,946,947,945,946,946,...,0,0,8,5,1,2013,201301,1,0,0
146670,947,950,948,947,950,952,946,951,946,947,...,0,0,8,5,1,2013,201301,1,0,0

In [73]:
for site in [f"site{i}" for i in range(1, 11)]:
    test[site] = test[site].map(sites_mapping)
test[[f"site{i}" for i in range(1, 11)]] = test[[f"site{i}" for i in range(1, 11)]].fillna(0).astype('int')
test = test.drop([f"time{i}" for i in range(1, 11)], axis=1)
test["session_duration"] = test["session_duration"].astype(np.int64)
test["sites_popularity_coeff"] = test["sites_popularity_coeff"].astype(np.int64)

In [74]:
test.dtypes

site1                     int64
site2                     int64
site3                     int64
site4                     int64
site5                     int64
site6                     int64
site7                     int64
site8                     int64
site9                     int64
site10                    int64
morning_time              int64
day_time                  int64
evening_time              int64
night_time                int64
start_session             int64
day_of_week               int64
month                     int64
year                      int64
yearmonth                 int64
session_duration          int64
sites_popularity_coeff    int64
is_short                  int64
dtype: object

In [56]:
train.dtypes

site1                     int64
site2                     int64
site3                     int64
site4                     int64
site5                     int64
site6                     int64
site7                     int64
site8                     int64
site9                     int64
site10                    int64
target                    int64
morning_time              int64
day_time                  int64
evening_time              int64
night_time                int64
start_session             int64
day_of_week               int64
month                     int64
year                      int64
yearmonth                 int64
session_duration          int64
sites_popularity_coeff    int64
is_short                  int64
dtype: object

In [21]:
MAX_ROUNDS = 650
OPTIMIZE_ROUNDS = False
LEARNING_RATE = 0.05

In [75]:
y = train['target'] # answers for train
X = train.drop(['target'], axis=1) # train features
y_valid_pred = 0 * y
X_test = test.copy()
y_test_pred = 0

In [80]:
X.dtypes

site1                     int64
site2                     int64
site3                     int64
site4                     int64
site5                     int64
site6                     int64
site7                     int64
site8                     int64
site9                     int64
site10                    int64
morning_time              int64
day_time                  int64
evening_time              int64
night_time                int64
start_session             int64
day_of_week               int64
month                     int64
year                      int64
yearmonth                 int64
session_duration          int64
sites_popularity_coeff    int64
is_short                  int64
dtype: object

In [81]:
K = 5
kf = KFold(n_splits = K, random_state = 1, shuffle = True)

In [82]:
model = CatBoostClassifier(
    learning_rate=LEARNING_RATE, 
    depth=6, 
    l2_leaf_reg = 14, 
    iterations = MAX_ROUNDS,
    verbose = False,
    loss_function='CrossEntropy',
    eval_metric="AUC"
)

In [83]:
for i, (train_index, test_index) in enumerate(kf.split(train)):
    y_train, y_valid = y.iloc[train_index], y.iloc[test_index]
    X_train, X_valid = X.iloc[train_index,:], X.iloc[test_index,:]
    print( "\nFold ", i)
    
    if OPTIMIZE_ROUNDS:
        fit_model = model.fit( X_train, y_train, 
                               eval_set=[X_valid, y_valid],
                               use_best_model=True
                             )
        print( "  N trees = ", model.tree_count_ )
    else:
        fit_model = model.fit( X_train, y_train )
        
    pred = fit_model.predict_proba(X_valid)[:,1]
    print( "  Gini = ", eval_gini(y_valid, pred) )
    y_valid_pred.iloc[test_index] = pred
    y_test_pred += fit_model.predict_proba(X_test)[:,1]
    
y_test_pred /= K  

print( "\nGini for full training set:" )
eval_gini(y, y_valid_pred)

Fold  0
  Gini =  0.9751687725814504

Fold  1
  Gini =  0.9820993795083663

Fold  2
  Gini =  0.9819781504828459

Fold  3
  Gini =  0.9809969685030969

Fold  4
  Gini =  0.983378433741378

Gini for full training set:

/tmp/ipykernel_23233/691419738.py:1: NumbaWarning:
Compilation is falling back to object mode WITH looplifting enabled because Function "eval_gini" failed type inference due to: non-precise type pyobject
During: typing of argument at /tmp/ipykernel_23233/691419738.py (3)

File "../../../../tmp/ipykernel_23233/691419738.py", line 3:
<source missing, REPL/exec in use?>

  @jit
/tmp/ipykernel_23233/691419738.py:1: NumbaWarning:
Compilation is falling back to object mode WITHOUT looplifting enabled because Function "eval_gini" failed type inference due to: Cannot determine Numba type of <class 'numba.core.dispatcher.LiftedLoop'>

File "../../../../tmp/ipykernel_23233/691419738.py", line 9:
<source missing, REPL/exec in use?>

  @jit
/home/stephan/.local/lib/python3.10/site-packages/numba/core/object_mode_passes.py:151: NumbaWarning: Function "eval_gini" was compiled in object mode without forceobj=True, but has lifted loops.

File "../../../../tmp/ipykernel_23233/691419738.py", line 3:
<source missing, REPL/exec in use?>

  warnings.warn(errors.NumbaWarning(warn_msg,
/home/stephan/.local/lib/python3.10/site-packages/numba/core/object_mode_passes.py:161: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "../../../../tmp/ipykernel_23233/691419738.py", line 3:
<source missing, REPL/exec in use?>

  warnings.warn(errors.NumbaDeprecationWarning(msg,

0.9806470401973912

In [86]:
sub = pd.DataFrame()
sub['target'] = y_test_pred
sub.to_csv('submit.csv', float_format='%.0f', index=False)